In [1]:
import pandas as pd
df = pd.read_csv('student-mat.csv')

In [2]:
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
import sklearn.preprocessing as skpp
from sklearn.model_selection import train_test_split
import sklearn.model_selection as le_ms
import sklearn.metrics as sklm
import numpy as np

In [3]:
data = df[["G1", "G2", "G3", "studytime", "failures", "absences", "sex", "internet"]]

#data_with_dummies = pd.get_dummies(data)

In [4]:
data['G3_pass_fail'] = ((data['G3'] >= 10).replace({True: 1, False: 0}))
data['sex_binary'] = ((data['sex'] == 'M').replace({True: 1, False: 0}))
data['internet_binary'] = ((data['internet'] == 'yes').replace({True: 1, False: 0}))

data

C:\Users\roger\AppData\Local\Temp\ipykernel_11560\1307956128.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['G3_pass_fail'] = ((data['G3'] >= 10).replace({True: 1, False: 0}))
C:\Users\roger\AppData\Local\Temp\ipykernel_11560\1307956128.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sex_binary'] = ((data['sex'] == 'M').replace({True: 1, False: 0}))
C:\Users\roger\AppData\Local\Temp\ipykernel_11560\1307956128.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['internet_binary'] = ((data['internet'] == 'yes').replace({True: 1, False: 0}))

,G1,G2,G3,studytime,failures,absences,sex,internet,G3_pass_fail,sex_binary,internet_binary
0,5,6,6,2,0,6,F,no,0,0,0
1,5,5,6,2,0,4,F,yes,0,0,1
2,7,8,10,2,3,10,F,yes,1,0,1
3,15,14,15,3,0,2,F,yes,1,0,1
4,6,10,10,2,0,4,F,no,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
390,9,9,9,2,2,11,M,no,0,1,0
391,14,16,16,1,0,3,M,yes,1,1,1
392,10,8,7,1,3,3,M,no,0,1,0
393,11,12,10,1,0,0,M,yes,1,1,1
394,8,9,9,1,0,5,M,yes,0,1,1

In [5]:
#data_with_dummies = data_with_dummies.drop(columns = ['G3']) # removing the G3 variable and reassigning the new data frame to the data with dummies name
data = data.drop(columns = ['G3', 'sex', 'internet']) # removing the G3 variable and reassigning the new data frame to the data with dummies name
data

,G1,G2,studytime,failures,absences,G3_pass_fail,sex_binary,internet_binary
0,5,6,2,0,6,0,0,0
1,5,5,2,0,4,0,0,1
2,7,8,2,3,10,1,0,1
3,15,14,3,0,2,1,0,1
4,6,10,2,0,4,1,0,0
...,...,...,...,...,...,...,...,...
390,9,9,2,2,11,0,1,0
391,14,16,1,0,3,1,1,1
392,10,8,1,3,3,0,1,0
393,11,12,1,0,0,1,1,1
394,8,9,1,0,5,0,1,1

In [6]:
X = data.drop(columns= ['G3_pass_fail']).copy() # make a copy of only the x variables
y = data['G3_pass_fail'] # isolate the outcome (y variable)

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1234, train_size=0.8, stratify= y)

columns = X_train.columns

In [8]:
# scaler = skpp.MinMaxScaler()
# scaler.fit(X_train)
# X_train = scaler.transform(X_train)
# X_test = scaler.transform(X_test)

In [9]:
import statsmodels.api as sm 
#logit_model = sm.Logit(y,X)
#result = logit_model.fit()
logreg = sm.Logit(y, X).fit()
#result = logreg.fit()
#print(result.summary2())

logreg.summary()

Optimization terminated successfully.
         Current function value: 0.338913
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:           G3_pass_fail   No. Observations:                  395
Model:                          Logit   Df Residuals:                      388
Method:                           MLE   Df Model:                            6
Date:                Wed, 04 Jan 2023   Pseudo R-squ.:                  0.4651
Time:                        16:58:13   Log-Likelihood:                -133.87
converged:                       True   LL-Null:                       -250.25
Covariance Type:            nonrobust   LLR p-value:                 1.970e-47
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
G1                 -0.0977      0.107     -0.909      0.364      -0.308       0.113
G2                  0.6927      0.124      5.588      0.000       0.450       0.936
studytime          -1.2163      0.210     -5.798      0.000      -1.627      -0.805
failures           -0.9384      0.199     -4.725      0.000      -1.328      -0.549
absences           -0.0452      0.018     -2.534      0.011      -0.080      -0.010
sex_binary         -0.7989      0.327     -2.444      0.015      -1.440      -0.158
internet_binary    -1.6087      0.443     -3.630      0.000      -2.477      -0.740
===================================================================================
"""

In [10]:
#logreg = LogisticRegression()
#logreg.fit(X_train, y_train)

#log_odds = logreg.coef_[0]

#pd.DataFrame(log_odds, X.columns, columns=['coef']).sort_values(by='coef', ascending=False)

In [11]:
odds = pd.DataFrame(np.exp(logreg.params), columns=['OR'])
odds['p-value']=logreg.pvalues
odds[['2.5%', '97.5%']] = np.exp(logreg.conf_int())

odds

                       OR       p-value      2.5%     97.5%
G1               0.906954  3.635549e-01  0.734669  1.119639
G2               1.999123  2.298934e-08  1.567902  2.548944
studytime        0.296326  6.710072e-09  0.196430  0.447026
failures         0.391252  2.297722e-06  0.265103  0.577427
absences         0.955847  1.128372e-02  0.923035  0.989825
sex_binary       0.449845  1.452800e-02  0.237044  0.853682
internet_binary  0.200146  2.829466e-04  0.083978  0.477012

In [12]:
#pred = logreg.predict(X_test)
#print('Accuracy of logistic regression classifier on test set:{:.2f}'.format(logreg.score(X_test, y_test)))

In [13]:
pred = logreg.predict(X_test)
AUC = sklm.roc_auc_score(y_test, pred)

In [14]:
AUC

0.9354136429608128